doctype html
head
    title Sign-In
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/png' href='images/icons/favicon.ico')
    link(rel='stylesheet' type='text/css' href='css/util.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    body
        .bg-create-lesson(style="background-image: url('images/tpBkGrd.jpg');")
          .container-create-lesson
            .wrap-create-lesson
              form.create-lesson-form.validate-form
                if objSignIn.userName == undefined
                    div(id='variable' lessonName=objSignIn.name datetime=objSignIn.datetime)
                        span.create-lesson-form-title
                          | Register 
                        .wrap-input3.validate-input(data-validate='Name is required')
                          input.input3(type='text' name='name' placeholder='Enter your name')
                          span.focus-input3
                        .wrap-input3.validate-input(data-validate='Admin number is required')
                          input.input3(type='text' name='admin' placeholder='Enter your admin number')
                          span.focus-input3
                        .container-create-lesson-form-btn
                          button.create-lesson-form-btn
                            | Submit
                span.create-lesson-form-title
                    div(id='loc')
                div.info-display(id='info')
        script(type='text/javascript', src='js/jquery-3.2.1.min.js')
        script(type='text/javascript', src='js/popper.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/sign-in.js')

        if objSignIn.userName
            script(type='text/javascript').
                $(document).ready(function(){
                    getLocation();
                })

                function getLocation() {
                    if (navigator.geolocation) {
                        console.log("there");
                        navigator.geolocation.getCurrentPosition(showPosition, showError);
                    } else {
                        console.log("here");
                        $('#loc').html("Geolocation is required !");
                    }
                }

                function showPosition(position) {
                    var objData = {};

                    objData.lessonName = '#{objSignIn.name}';
                    objData.datetime = #{objSignIn.datetime};
                    objData.geoLat = position.coords.latitude;
                    objData.geoLong = position.coords.longitude;
                    objData.name = '#{objSignIn.userName}';
                    objData.admin = '#{objSignIn.adminNo}';
                    var posting = $.post( "/update-db", objData , updateUI);
                } 

                function showError(error) {
                    switch(error.code) {
                        case error.PERMISSION_DENIED:
                            $('#loc').html("User denied the request for Geolocation.")
                            break;
                        case error.POSITION_UNAVAILABLE:
                            $('#loc').html("Location information is unavailable.")
                            break;
                        case error.TIMEOUT:
                            $('#loc').html("The request to get user location timed out.")
                            break;
                        case error.UNKNOWN_ERROR:
                            $('#loc').html("An unknown error occurred.")
                            break;
                    }
                }

                function updateUI(data, status)
                {
                    $('#loc').html("Successful");
                    var strHtml = data.userName + " </br>";
                    strHtml += data.adminNo + " </br>";
                    strHtml += data.geoLat + " , ";
                    strHtml += data.geoLong + " </br>";
                    var dateIn = new Date();
                    dateIn.setTime(data.datetime);
                    strHtml += dateIn.toString();
                    $('#info').html(strHtml);
                }  